@model IEnumerable<KZLBydgoszcz.Models.Lessons>

@{
    ViewData["Title"] = "Lekcje";
}

<h1>Lekcje</h1>

<p>
    <a asp-action="Create">Dodaj nową</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LessonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student_class.Class_identificator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LessonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_class.Class_identificator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teachers.LastName)
                @Html.DisplayFor(modelItem => item.Teachers.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LessonID">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.LessonID">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.LessonID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
