@model IEnumerable<KZLBydgoszcz.Models.Student>

@{
    ViewData["Title"] = "Uczeń";
}

<h1>Uczeń</h1>

<p>
    <h3>Wyszukiwanie</h3>

</p>
<form asp-action="Index" asp-controller="Students" method="get">
    <p>
        <input type="search" name="searchResult" placeholder="Podaj nazwisko..." style="width:500px" class="form-control" value="@ViewData["ListFromSearch"]" />
        <input type="submit" value="Szukaj" class="btn btn-primary" />
        <a asp-action="Index">Wyczyść wyszukiwanie</a>
    </p>
</form>

<p>
    <a asp-action="Create">Dodaj nowego</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgGrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student_class.Class_identificator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvgGrade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student_class.Class_identificator)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edycja</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
