@model IEnumerable<KZLBydgoszcz.Models.Class_Name>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class_identificator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Class_identificator)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Student_classID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Student_classID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Student_classID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
